transformers
transformers[sentencepiece]
datasets
sacrebleu 
rouge_score 
evaluate
py7zr
pandas
nltk
tqdm
PyYAML
matplotlib
torch
notebook
boto3
mypy-boto3-s3
python-box
ensure
fastapi
uvicorn
Jinja2
dvc
dvc[gs]
-e .